---
Language: Cpp
BasedOnStyle: LLVM

# --- Indentation : tab to indent, space to align ---
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80

# -- Braces ---
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AlignConsecutiveDeclarations: Consecutive

# --- Classes ---
AccessModifierOffset: -4
IndentCaseLabels: false
NamespaceIndentation: None
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never

# --- Pointers and spaces ---
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

# --- Includes ---
SortIncludes: false
IncludeBlocks: Preserve

# --- Breathing --
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SeparateDefinitionBlocks: Always
